<h2>Hard & Soft skills</h2>
<div class="row">
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="85"
      [imageSrc]="'../assets/icons/html.jpg'"
      [showImage]="true"
      [imageWidth]="50"
      [imageHeight]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#F77E21'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'white'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="85"
      [imageSrc]="'../assets/icons/css.png'"
      [showImage]="true"
      [imageWidth]="50"
      [imageHeight]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'white'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="85"
      [imageSrc]="'../assets/icons/js.png'"
      [showImage]="true"
      [imageWidth]="50"
      [imageHeight]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'yellow'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'white'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="85"
      [imageSrc]="'../assets/icons/node.png'"
      [showImage]="true"
      [imageWidth]="50"
      [imageHeight]="50"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="13"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#88F02C'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'white'"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="85"  
    [imageSrc]="'../assets/icons/github.png'"
    [showImage]="true"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="13"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="300"
    [backgroundColor]="'white'"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="85"  
    [imageSrc]="'../assets/icons/scrum.png'"
    [showImage]="true"
    [imageWidth]="50"
    [imageHeight]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="13"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#07C5F5'"
    [innerStrokeColor]="'grey'"
    [animation]="true"
    [animationDuration]="300"
    [backgroundColor]="'white'"
  ></circle-progress>
  </div>
</div>
