<h2>Experiencias</h2>

  <div class="globant">
    <img src="assets/img/globant.jpg" alt="" />
    <h6>Front-end developer</h6>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
      aut veritatis quod corporis quasi asperiores dolores eveniet
      consectetur beatae excepturi, magni eaque nihil dolor ut aspernatur
      obcaecati quibusdam doloribus doloremque?
    </p>
  </div>
  <div class="ml">
    <img src="assets/img/ml.jpg" alt="" id="ml" />
    <h6>Full Stack developer</h6>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
      aut veritatis quod corporis quasi asperiores dolores eveniet
      consectetur beatae excepturi, magni eaque nihil dolor ut aspernatur
      obcaecati quibusdam doloribus doloremque?
    </p>
  </div>
  <br />
