<section>
    <!-- BANNER + PERFIL -->  
    <div class="perfil_banner">
      <img class="banner" src="assets/img/banner1.jpg" alt="banner" />
      <div class="_perfil">
        <img class="perfil" src="assets/img/perfil.png" alt="" />
      </div>
      <h2 class="card_name">{{persona.nombre}} {{persona.apellido}}</h2>
      <p class="card_position">Full Stack Developer Jr.</p>
    </div>
    <div class="acerca_de_mi">
      <h5 style="font-weight: bold">Acerca de mi</h5>
      <p>
        Soy graduado en Licenciatura en Biotecnología pero he encontrado mi
        verdadera vocación en la programación. Por eso decidí cursar la
        tecnicatura relacionada con la programación para poder emprender el
        camino que quiero seguir. Mi objetivo es encontrar empleo en la
        industria de TI para seguir formándome y adquirir experiencias
        laborales que ayude a mi crecimiento tanto laboral como en lo
        personal. Me considero una persona proactiva, organizada y
        responsable, con buenas relaciones interpersonales. Siempre tengo la
        mejor disposición para la realización de mis labores.
      </p>
    </div>
  </section>
