<h2>Educación</h2>
  <div class="utn">
    <img src="assets/img/utn.png" alt="" id="utn" />
    <h6>Tec. Univ. en Programación</h6>
    <p>
      Actualmente me encuentro cursando 2° año en la facultad regional de
      Tucumán. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Tenetur accusamus sed tempora repellat, sint perspiciatis quas
      incidunt quibusdam? Laborum atque voluptates tempore eveniet quis
      incidunt quaerat perspiciatis facere, illo molestias.
    </p>
  </div>
  <div class="ispc">
    <img src="assets/img/ispc.png" alt="" id="ispc" />
    <h6>Tecnicatura en CD e IA</h6>
    <p>
      Actualmente me encuentro cursando 1° año. Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Hic blanditiis inventore error animi
      recusandae, quae sit enim in asperiores sint perspiciatis corrupti
      earum, est labore! Nam molestiae hic perspiciatis nemo.
    </p>
  </div>
