<h2>Proyectos</h2>
  <h5 style="font-weight: bold" class="proyecto">
    Diseño de página web para la empresa
    <span style="color: green">"Biotech Semillas"</span>
  </h5>
  <p class="proyecto">
    Para el diseño de Front-end se usó los siguientes lenguajes: HTML, CSS y
    JavasScript. Para el caso de Backend se usó NodeJS y MySQL. Durante el
    desarrollo, hemos usado la metodología ágil para el proyecto
    colaborativo. Se lo puede ver en el repositorio github.
  </p>
  <div class="img_biotech">
    <img src="assets/img/biotech.png" alt="" id="biotech" />
  </div>
