<header>
    <!-- IZQUIERDA: logo de AP + Argentina Programa #YoProgramo -->
    <!-- DERECHA: redes sociales + botón de edición -->
    <div class="logo_AP">
      <img class="logoAP" src="assets/img/ap.png" alt="" />
      <h4>"Argentina Programa" #YoProgramo</h4>
      <nav class="redes_sociales">
        <a href="#" class="icon_facebook"
          ><img src="assets/icons/facebook.svg" alt=""
        /></a>
        <a href="#" class="icon_twitter"
          ><img src="assets/icons/twitter.svg" alt=""
        /></a>
        <a href="#" class="icon_github"
          ><img src="assets/icons/github.svg" alt=""
        /></a>
        <button type="button" class="btn btn-warning" (click)="login()">Login</button>
      </nav>
    </div>
  </header>
